@using BankingApp.Pages.Common.Aids
@using BankingApp.Pages.Common.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Banking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @Html.DropMenu("Bank",
                            new Link("Loan Managers", new Uri("/Bank/LoanManager/Index?handler=index", UriKind.Relative)),
                            new Link("ATM Managers", new Uri("/Bank/ATMManager/Index?handler=index", UriKind.Relative)),
                            new Link("Investing Managers", new Uri("/Bank/InvestingManager/Index?handler=index", UriKind.Relative))
                            )

                        @Html.DropMenu("ATM Manager",
                            new Link("ATMs", new Uri("/ATMManager/ATM/Index?handler=index", UriKind.Relative))
                            )

                        @Html.DropMenu("Loan Manager",
                            new Link("Personal Loans", new Uri("/LoanManager/PersonalLoan/Index?handler=index", UriKind.Relative)),
                            new Link("Home Loans", new Uri("/LoanManager/HomeLoan/Index?handler=index", UriKind.Relative)),
                            new Link("Car Loans", new Uri("/LoanManager/CarLoan/Index?handler=index", UriKind.Relative)),
                            new Link("All Loans", new Uri("/LoanManager/AllLoan/Index?handler=index", UriKind.Relative)),
                            new Link("Loan Accounts", new Uri("/LoanManager/LoanAccount/Index?handler=index", UriKind.Relative))
                            )
                        @Html.DropMenu("Investing Manager",
                            new Link("BlockChains", new Uri("/Manager/BlockChains/Index?handler=index", UriKind.Relative)),
                            new Link("Crypto", new Uri("/Manager/Crypto/Index?handler=index", UriKind.Relative)),
                            new Link("Stock", new Uri("/Manager/Stock/Index?handler=index", UriKind.Relative)),
                            new Link("Calculator", new Uri("/Manager/Calculators/Index?handler=index",UriKind.Relative)),
                            new Link("Customers", new Uri("/Manager/Customers/Index?handler=index", UriKind.Relative)),
                            //new Link("Investing Accounts", new Uri("/Manager/InvestingAccount/Index?handler=index", UriKind.Relative)),
                            new Link("Crypto Potfolios", new Uri("/Manager/CryptoPortfolios/Index?handler=index",UriKind.Relative)),
                            new Link("Orders", new Uri("/Manager/Orders/Index?handler=index", UriKind.Relative))
                            )
                        @Html.DropMenu("Client",
                            new Link("Transaction", new Uri("/Client/Transaction/Index?handler=index", UriKind.Relative)),
                            new Link("All accounts", new Uri("/Client/Accounts/Index?handler=index", UriKind.Relative)),
                            new Link("Notifications", new Uri("/Client/Notification/Index?handler=index", UriKind.Relative))
                            )
                        @Html.DropMenu("Investing",
                            new Link("BlockChains", new Uri("/Customer/BlockChains/Index?handler=index", UriKind.Relative)),
                            //new Link("Investments", new Uri("/Customer/Investment/Index?handler=index", UriKind.Relative)),
                            //new Link("Investments", new Uri("/Customer/Investment/Index?handler=index", UriKind.Relative)),
                            new Link("Calculator", new Uri("/Customer/Calculators/Index?handler=index", UriKind.Relative)),
                            new Link("My Crypto Portfolio", new Uri("/Customer/CryptoPortfolios/Index?handler=index", UriKind.Relative)),
                            new Link("Crypto", new Uri("/Customer/Crypto/Index?handler=index", UriKind.Relative)),
                            new Link("Stock", new Uri("/Customer/Stock/Index?handler=index", UriKind.Relative)),
                            new Link("My Crypto Baskets", new Uri("/Customer/CryptoBaskets/Index?handler=index", UriKind.Relative)),
                            new Link("My Crypto Orders", new Uri("/Customer/Orders/Index?handler=index", UriKind.Relative)),
                            //new Link("My Crypto Basket Items",new Uri("/Customer/CryptoBasketItems/Index?handler=index", UriKind.Relative)),
                            new Link("My Stock Baskets", new Uri("/Customer/StockBaskets/Index?handler=index", UriKind.Relative)),
                            //new Link("Investing Accounts", new Uri("/Customer/InvestingAccount/Index?handler=index", UriKind.Relative)),
                            new Link("My data", new Uri("/Customer/Customers/Index?handler=index", UriKind.Relative))

                            )
                        @Html.DropMenu("Loans",
                            new Link("Loan Account", new Uri("/Loan/LoanAccount/Index?handler=index", UriKind.Relative)),
                            new Link("Personal Loans", new Uri("/Loan/PersonalLoan/Index?handler=index", UriKind.Relative)),
                            new Link("Home Loans", new Uri("/Loan/HomeLoan/Index?handler=index", UriKind.Relative)),
                            new Link("Car Loans", new Uri("/Loan/CarLoan/Index?handler=index", UriKind.Relative))
                            )


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Soft - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>