@using BankingApp.Pages.Common.Extensions;
@model BankingApp.Pages.Investing.OrderItemsClientPage;

<body>
    @Html.Show(m => m.Item.Id)
    @Html.Show(m => m.Item.OrderID)
    @Html.Show(m => m.Item.CryptoID)
    @Html.Show(m => m.Item.CryptoID, Model.CryptoName(Model.Item.CryptoID))
    @Html.Show(m => m.Item.OrderTime)
    @Html.Show(m => m.Item.UnitPrice)
    @Html.Show(m => m.Item.Units)
    @Html.Show(m => m.Item.TotalPrice)
    @Html.Show(m => m.Item.OrderType)
</body>