@using BankingApp.Pages.Common.Extensions;
@model BankingApp.Pages.Investing.CryptoPortfolioClientPage;

<body>
    <input type="hidden" asp-for="Item.Id" />
    <input type="hidden" asp-for="Item.CryptoID" />

    <input type="hidden" asp-for="Item.From" />
    <input type="hidden" asp-for="Item.To" />

    @Html.Show(m => m.Item.Ticker)
    @Html.Show(m => m.Item.UnitPrice)
    @Html.Show(m => m.Item.BlockChain)
    @Html.Show(m => m.Item.Units)
    @Html.Editor(m => m.Item.AmountToSell)
</body>
