@using BankingApp.Pages.Common.Extensions
@model BankingApp.Pages.Investing.StockManagerPage;

<body>
    @Html.Editor(m => m.Item.Id)
    @Html.Editor(m => m.Item.Name)
    @Html.Editor(m => m.Item.Ticker)
    @Html.Editor(m => m.Item.Country)
    @Html.Editor(m => m.Item.Price)
</body>
