@using BankingApp.Pages.Common.Extensions
@model BankingApp.Pages.Loan.HomeLoanManagerPage;

<body>
    @Html.Show(m => m.Item.Id)
    @Html.Show(m => m.Item.HomeAge)
    @Html.Show(m => m.Item.HomeValue)
    @Html.Show(m => m.Item.LoanPeriod)
    @Html.Show(m => m.Item.Interest)
    @Html.Show(m => m.Item.LoanManagerId)
</body>
