@using BankingApp.Pages.Common.Extensions;
@model BankingApp.Pages.Investing.CryptoBasketItemsClientPage;

<body>
    <input type="hidden" asp-for="Item.Id" />
    <input type="hidden" asp-for="Item.CryptoID" />
    <input type="hidden" asp-for="Item.CryptoBasketID" />
    <input type="hidden" asp-for="Item.From" />
    <input type="hidden" asp-for="Item.To" />
    @Html.Show(m => m.Item.CryptoID, Model.CryptoName(Model.Item.CryptoID))
    @Html.Show(m => m.Item.Ticker, Model.TickerName(Model.Item.CryptoID))
    @Html.Show(m => m.Item.UnitPrice, Model.CryptoPrice(Model.Item.CryptoID))
    @Html.Show(m => m.Item.BlockChain, Model.BlockChainName(Model.Item.CryptoID))
    @Html.Editor(m => m.Item.Quantity)
</body>
