@using BankingApp.Pages.Common.Extensions;
@model BankingApp.Pages.Investing.CryptoBasketItemsClientPage;

<body>
    @Html.Show(m => m.Item.CryptoID, Model.CryptoName(Model.Item.CryptoID))
    @Html.Show(m => m.Item.BlockChain, Model.CryptoName(Model.Item.BlockChain))
    @Html.Show(m => m.Item.Ticker)
    @Html.Show(m => m.Item.UnitPrice)
    @Html.Show(m => m.Item.Quantity)
    @Html.Show(m => m.Item.TotalPrice)
</body>