@using BankingApp.Pages.Common.Extensions
@model BankingApp.Pages.Investing.CryptoManagerPage;

<body>
    @Html.Editor(m => m.Item.Id)
    @Html.Editor(m => m.Item.Name)
    @Html.Editor(m => m.Item.Ticker)
    @Html.DropDown(m => m.Item.BlockChainID, Model.BlockChains)
    @Html.Editor(m => m.Item.Price)
</body>