@using BankingApp.Pages.Common.Extensions;
@model BankingApp.Pages.Investing.CryptoBasketPage;

<body>
    @Html.Show(m => m.Item.Id)
    @Html.Show(m => m.Item.)
    @Html.Show(m => m.Item.BuyerId)
    @Html.Show(m => m.Item.BuyerAddress)
    @Html.Show(m => m.Item.TotalPrice)
    @Html.Show(m => m.Item.From)
    @Html.Show(m => m.Item.To)
</body>